.imgDiv{
	width: 50%;
	margin:auto;
	border: 10px solid black;
}



.logoImg{
	width: 60%;
	height: 200px;
	display: block;
	filter: sepia(50%);
}

.paraTest{
	width: 80%; 
	margin: auto;
	// height:  600px;
	border: 2px solid green;
	background-color: black;

}