@import 'cssReset';
@import 'variables';
@import 'mixin';
@import 'images';
@import 'nav';
@import 'icons';
@import 'button';



// $backColor: teal;
// $padding: 30px;
// $margin: 40px;
// $width: 33%;

h1{
	width: $width;
	padding: $padding;
}
body{
	background-color: #F88A57;
	
}

#heading {
	font-size: 30px;
	font-family: helvetica;
	color: tomato;
	text-align: center;
	transform: rotate(45deg);
	transform: scaleY(3.0);
	margin-top: 300px;
}

#headingOne {
	font-size: 30px;
	font-family: helvetica;
	color: darkslategrey;
	text-align: center;
	transform: rotate(315deg);
	
}

.para{
	width: 46%;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	padding: 0 30px;
}

.marginLeft{
	margin-left: 2%;
} 

.marginRight {
	margin-right: 2%;
} 


.test{
	width: 80%;
	margin: auto;
}

.clearFix{
	content: "";
	clear: both;
	display: table;
}

ul{
	@extend .para;

}









